.boxImg {
  overflow: hidden;

  &:hover {
    .hoverImg {
      opacity: 1;
      transform: scale(1.1);
    }
    .icons {
      opacity: 1;
      transform: translateX(0);
    }
    .addtocard {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .hoverImg {
    overflow: hidden;
    transition: 0.4s linear;
    opacity: 0;
  }
  .icons {
    transition: 0.2s linear;
    opacity: 0;
    transform: translateX(100%);
  }
  .addtocard {
    transition: 0.2s linear;
    opacity: 0;
    transform: translateY(100%);
  }
}
